<!DOCTYPE html>

body, html {
    height: auto;
    margin: auto;
    display: flex;}
body {
    margin-top: 15vh;
    font-size: 25pt;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    flex-direction: column;
    align-items: center;
    display: flex;

    margin: 3vh 5vw 3vh 10vw;
    padding: 10px 0px;
    width: 20vw;
    max-width: 30vw;

    outline: 1px solid #ffffff17;
    background-color: #ffffff13;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    color: white;
}
.container:hover {
    cursor: pointer;
    outline: 1px solid #ffffff2c;
    backdrop-filter: blur(2px);
    box-shadow: 0px 1px 12px #ffffff13;
}

iframe {
    position: absolute;
    top: 1vh;
    left: 0%;
    
    width: 60vw;
    height: 100vh;
    margin-left: 35%;
    
    border: 1px solid #ffffff17;
    background-color: #1c1a2433;
    backdrop-filter: blur(2px);
}

details[open] .container {
    margin-bottom: 56.25px;
    background-color: #ffffff17;
    outline: 1px solid #ffffff2c;
    box-shadow: 0px 1px 12px #ffffff13;
}   


a {
    text-decoration: none;
    color: inherit;}
body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
} /* Disables Scrollbar Visual */
