<!DOCTYPE HTML>

body, html {
    height: 100%;
    margin: 0;
    display: flex;
}

body {
    background-image: linear-gradient(90deg,
    var(--bg1g),var(--bg1),
    var(--bg1),var(--bg1g));
    height: 100vh;
    margin: auto;
    display: grid;
    place-items: center;
}
#container-st {
    background-color: var(--bg2a);
    background-attachment: fixed;
    height: 100vh;
    width: 40vw;
    min-width: 500px;
    border-left: 1px solid var(--bgtrim);
    border-right: 1px solid var(--bgtrim);
    border-radius: 5px;
}

#gradient-border {
    background: var(--bg1);
    border: 10px solid transparent;
    border-radius: 22px;
    background-clip: padding-box;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    width: 99%;
    max-width: 500px;
    height: 15%;
    top: 10px;
    padding: 20% 15%;
    margin: auto;
    margin-bottom: 7px;}
#gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: 12px;
    background:
    linear-gradient(190deg,
    var(--bgtrim),
    #ffffffb7,
    var(--bgtrim))}
h1 {
    text-align: center;
    
    padding-top: 10px;
    color: #dddada;
    text-shadow: 1px 1px var(--bgtrim);
    font-variant: small-caps;
    line-height: 45pt;
}


.lr-container {
    display: inline-block;
    position: relative;
    border: 2.8px solid var(--bgtrim);
    border-radius: 10px;
    left: 5%;
    bottom: 0;
    top: 0;
    width: 50%;
    height: 100px;
    padding: 0;
    padding-left: 3px;
    margin: 4px 20% 1px 20%;}
.lr-container:hover {
    border-width: 4px;
    border-radius: 10px;
    transition-delay: 50ms;
    transition-duration: 120ms;
    width: 55%;
    height: 120px;
    margin: 0px 20% 1px 20%;
    left: 2.5%;
    bottom: 15px;
    background-color: var(--bg1g);
    box-shadow: 0px 0px 20px 5px #d6376946;}
.lr-container:hover #list {
    max-width: 80px;
    max-height: 80px;
    top: 3px;
    transition-delay: 50ms;
    transition-duration: 120ms;
}

.l-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    top: 13px;}
   #list {
    position: relative;
    top: 0;
    max-height: 70px;
    max-width: 70px;
    border-right: 2px solid white;
    border-radius: 9px;
}

.r-linktext {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
}

a {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--textpink);
    font-size: 19pt;
    text-align: left;
    text-decoration: none;
    padding-top: 1.2em;
    margin-top: -1.2em;
    padding-left: 3.5em;
    margin-left: -3.5em;
    padding-right: 2.7em;
    margin-right: -2.7em;
    padding-bottom: 2em;
    margin-bottom: -2em;
    top: 13px;}
    a:hover {
     top: 16px;
     font-size: 22pt;
     transition-delay: 50ms;
     transition-duration: 100ms;}
    a:active {
     color: #da5f84;
     font-size: 21pt;
     top: 17px;
     filter: blur(1px);
     transition-delay: 0ms;
     transition-duration: 100ms;
}

button {
    position: absolute;
    background-color: var(--bg1g);
    border: 1px solid var(--bgtrim);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    top: 1vh;
    left: 1vw;
    filter: blur(6px);
    opacity: (100%);
    transition-timing-function: ease-out;
    transition-duration: 300ms;}
    button:hover {
        cursor: pointer;
        filter: blur(1px)
        opacity(90%);}
    button:active {
        background-color: var(--bgtrim);
        filter: opacity(100%);
}



:root {
    --bg1: #19131f;
    --bg1g: #271e30;
    --bg2a: #4a3e5a28;
    --bgtrim: #816b97;
    --textpink: #fdb0c8;
}