<!DOCTYPE HTML>

body, html {
    display: flex;
    height: auto;
    margin: 0;
}

body {
    background-color:var(--bg2);
    background-image: linear-gradient(30deg, var(--bg1g) 12%, transparent 12.5%, transparent 87%, var(--bg1g) 87.5%, var(--bg1g)),
    linear-gradient(150deg, var(--bg1g) 12%, transparent 12.5%, transparent 87%, var(--bg1g) 87.5%, var(--bg1g)),
    linear-gradient(30deg, var(--bg1g) 12%, transparent 12.5%, transparent 87%, var(--bg1g) 87.5%, var(--bg1g)),
    linear-gradient(150deg, var(--bg1g) 12%, transparent 12.5%, transparent 87%, var(--bg1g) 87.5%, var(--bg1g)),
    linear-gradient(60deg, var(--bg1) 25%, transparent 25.5%, transparent 75%, var(--bg1) 75%, var(--bg1)),
    linear-gradient(60deg, var(--bg1) 25%, transparent 25.5%, transparent 75%, var(--bg1) 75%, var(--bg1));
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

    height: auto;
    margin: auto;
    display: grid;
    place-items: center;
}


#container-st {
    position: relative;
    min-width: 500px;
    height: 100vh;
    width: 35vw;
    margin: auto;
    padding-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background-attachment: fixed;
    background-clip: padding-box;
    background-color: var(--bg2);
}
#container-st::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0px -1px;
    filter: blur(1px);
    border-radius: 3px;
    background:
    linear-gradient(190deg,
    var(--bgtrim),
    #ffffffb7,
    var(--bgtrim)) 
}

#bgradient-l {
    width: 40vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
    top: 0;
    left: -22vw;
    background-size: contain;
    backdrop-filter: opacity(30%);
    background-image: url(/IMAGES/bg-gradient.png);
}
#bgradient-r {
    width: 40vw;
    height: 100vh;
    position: absolute;
    transform: scale(-1);
    z-index: -2;
    top: 0;
    left: 17vw;
    background-size: contain;
    backdrop-filter: opacity(30%);
    background-image: url(/IMAGES/bg-gradient.png);
}

#gradient-border {
    background: var(--bg1);
    border: 10px solid transparent;
    border-radius: 22px;
    background-clip: padding-box;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    width: 99%;
    max-width: 500px;
    height: 15%;
    padding: 15%;
    margin: auto;
    margin-bottom: 3px;
}
#gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    filter: blur(1px);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: 15px;
    background:
    linear-gradient(190deg,
    var(--bgtrim),
    #ffffffb7,
    var(--bgtrim))
}


    /* Home Button */
button {
    position: absolute;
    background-color: var(--bg1g);
    border: 1px solid var(--bgtrim);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    top: 1vh;
    left: 1vw;
    filter: blur(6px);
    opacity: (90%);
    transition-timing-function: ease-out;
    transition-duration: 300ms;}
button:hover {
    cursor: pointer;
    background-color: #816b973f;
    box-shadow: 0px 0px 15px 0.5px var(--bgtrim);
    filter: blur(0)
    opacity(100%);}
button:active {
    background-color: #d6376946;
    box-shadow: 0px 0px 15px 0.5px #ff8363;
    transform: rotate(120deg);}
button img {
opacity: 0%;}
button:hover img {
    opacity: 100%;
    filter: blur(0);
}

    /* Link Container Shell */
#key {
    position: relative;
    border: 2.8px solid var(--bgtrim);
    letter-spacing: 0.2px;
    border-radius: 10px;
    left: 5%;
    bottom: 0;
    top: 0;
    width: 50%;
    height: 100px;
    padding: 0;
    padding-left: 3px;
    margin: 4px 20% 1px 20%;
    transition-delay: 100ms;
    transition-duration: 120ms;
    transition-timing-function: ease-out;}
#key:hover {
    transform: scale(1.15);
    border-width: 3px;
    background-color: var(--bg1g);
    box-shadow: 0px 0px 20px 5px #d6376946;
}
.key {
    display: none;
}

    /* Key Image */
#l-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    top: 12px;
}
#img-liner {
    position: relative;
    top: 0;
    height: 70px;
    width: 70px;
    border-right: 2px solid white;
    border-radius: 9px;
}
#bp {
    display: inline-flex;
    position: relative;
    padding: auto;
    padding-right: 8px;
    max-width: 100%;
    top: -6px;
}
#l-image-fill {
    display: inline-flex;
    position: relative;
    padding: 0;
    padding-right: 0px;
    margin: 0;
    top: 26px;
}

    /* Key Link */
#r-linktext {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    transition-delay: 80ms;
    transition-duration: 120ms;
    width: 300px;
}
a#link {
    display: inline-flex;
    position: relative;
    color: #f8407a;
    text-shadow: 0.5px 0.5px #ffc2d5;
    font-size: 19pt;
    text-align: left;
    text-decoration: none;
    padding-top: 1.2em;
    margin-top: -1.2em;
    padding-left: 3.5em;
    margin-left: -3.5em;
    padding-right: 2.7em;
    margin-right: -3em;
    padding-bottom: 2em;
    margin-bottom: -2em;
    top: 10px;
}
a:active {
    color: #da5f84;
    font-size: 18pt;
    top: 17px;
    filter: blur(1px);
    transition-delay: 0ms;
    transition-duration: 100ms;
}
#spacer a{
    margin: auto;
    margin-top: -1vh;
    margin-bottom: 30px;
    padding: 0px 20px 10px 20px;
    width: 98%;
    top: 0;
    left: 0;
    display: block;
    position: relative;
    cursor: default;}
#key:target ~ .key{display: inherit;}





:root {
    --bg1: #19131f;
    --bg1g: #271e30;
    --bg2: #201928;
    --bgtrim: #816b97;
    --textpink: #fdb0c8;
}

@media only screen and (max-width: 500px) {
    body, html {
        height: auto;
        width: auto;}
    #container-st {
        min-width: auto;
        height: 100%;
        width: 100%;
        margin: 0px 3px;
        padding-top: 15px;}
    #key {
        left: -0%;
        width: 60%;
        transform: scale(0.9);
        margin: 0px 20% 0px 20%;}
    #key:hover {transform: scale(0.9);}
    #gradient-border {display: none;}
    form {display: none;}
}  /* Mobile Size Scaling */
