<!DOCTYPE HTML>

body, html {
    height: auto;
    margin: 0;
    display: flex;
}

body {
    background-image: linear-gradient(90deg,
    var(--bg1g),var(--bg1),
    var(--bg1),var(--bg1g));
    height: auto;
    margin: auto;
    display: grid;
    place-items: center;
}
#container-st {
    background-color: var(--bg2a);
    background-attachment: fixed;
    height: 100vh;
    width: 40vw;
    min-width: 500px;
    border-left: 1px solid var(--bgtrim);
    border-right: 1px solid var(--bgtrim);
    border-radius: 5px;
}

#gradient-border {
    background: var(--bg1);
    border: 10px solid transparent;
    border-radius: 22px;
    background-clip: padding-box;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    width: 99%;
    max-width: 500px;
    height: 15%;
    padding: 15%;
    margin: auto;
    margin-bottom: 3px;}
#gradient-border::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: 15px;
    background:
    linear-gradient(190deg,
    var(--bgtrim),
    #ffffffb7,
    var(--bgtrim))}
h1 {
    text-align: center;
    font-variant: small-caps;
    position: absolute;
    color: #dddada;
    font-family: 'open sans condensed';
    text-shadow: 1px 1px var(--bgtrim);
    font-size: 40pt;
    line-height: 45pt;
    letter-spacing: 4px;
    padding-bottom: 5px;
    left: 1em;
    right: 1em;
}
button {
    position: absolute;
    background-color: var(--bg1g);
    border: 1px solid var(--bgtrim);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    top: 1vh;
    left: 1vw;
    filter: blur(6px);
    opacity: (90%);
    transition-timing-function: ease-out;
    transition-duration: 300ms;}
    button:hover {
        cursor: pointer;
        background-color: #816b973f;
        filter: blur(1px)
        opacity(90%);}
    button:active {
        background-color: var(--bgtrim);
        filter: opacity(100%);
}

 /* Parent Link Container */
#key {
    display: none;
    position: relative;
    border: 2.8px solid var(--bgtrim);
    letter-spacing: 1px;
    border-radius: 10px;
    left: 5%;
    bottom: 0;
    top: 0;
    width: 50%;
    height: 100px;
    padding: 0;
    padding-left: 3px;
    margin: 4px 20% 1px 20%;
    transition-delay: 80ms;
    transition-duration: 120ms;
    transition-timing-function: ease-out;}
    #key:hover {
    transform: scale(1.15);
    border-width: 3px;
    background-color: var(--bg1g);
    box-shadow: 0px 0px 20px 5px #d6376946;
}
#l-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    top: 12px;}
   #img-strip {
    position: relative;
    top: 0;
    height: 70px;
    width: 70px;
    border-right: 2px solid white;
    border-radius: 9px;
}
#r-linktext {
    display: table-cell;
    vertical-align: middle;
    transition-delay: 80ms;
    transition-duration: 120ms;

    width: 300px;}
 a#link {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: var(--textpink);
    font-size: 19pt;
    text-align: left;
    text-decoration: none;
    padding-top: 1.2em;
    margin-top: -1.2em;
    padding-left: 3.5em;
    margin-left: -3.5em;
    padding-right: 2.7em;
    margin-right: -2.7em;
    padding-bottom: 2em;
    margin-bottom: -2em;
    top: 13px;}
    a:active {
     color: #da5f84;
     font-size: 18pt;
     top: 17px;
     filter: blur(1px);
     transition-delay: 0ms;
     transition-duration: 100ms;
}

#spacer a{
    margin: auto;
    margin-top: -3px;
    padding-bottom: 10px;
    width: 98%;
    top: 0;
    left: 0;
    transition-duration: 800ms;
    display: block;
    position: relative;
    cursor: default;}
#key:target ~ #key{
    display: inline-block;
}


:root {
    --bg1: #19131f;
    --bg1g: #271e30;
    --bg2a: #4a3e5a28;
    --bgtrim: #816b97;
    --textpink: #fdb0c8;
}


@media only screen and (max-width: 500px) {
    body, html {
        height: auto;
        width: auto;}
    #container-st {
        min-width: auto;
        height: 100%;
        width: 100%;
        margin: 0px 3px;
        padding-top: 15px;}
    .lr-container {
        left: -0%;
        width: 60%;
        transform: scale(0.9);
        margin: 0px 20% 0px 20%;}
    .lr-container:hover {transform: scale(0.9);}
    #gradient-border {display: none;}
    form {display: none;}
}
