<!DOCTYPE html>

body, html {
    height: auto;
    margin: auto;
    display: flex;
    font-size: 12pt;
    font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", Courier, monospace;
}

#element-text {
    display: inline-flex;
    position: relative;
    box-shadow: 10px 10px 20px 15px #d63769;
    color: white;

}