<!DOCTYPE HTML>

body, html {
    margin: auto;
    height: 100%;
    width: 100%;
}
* {box-sizing: border-box;}
::selection {
    background-color: #eedd80;
    color: #1b1712;
}

body {
    display: grid;
    position: fixed;
    margin: auto;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans Condensed','Arial';
    background-image: linear-gradient(90deg,
     var(--bgg1), var(--bgg2), var(--bgg3),
     var(--bgg3), var(--bgg2), var(--bgg1));
}

.container {
    display: grid;
    position: relative;
    place-items: center;
    border: 2px solid white;
}




:root {
    --bgg1: #ffffff;
    --bgg2: #7c5e3b;
    --bgg3: #836544;
}

@media only screen and (max-width: 500px) {
    body, html {
        height: auto;
        width: auto;}
}  /* Mobile Size Scaling */
