<!DOCTYPE HTML>

body, html {
    height: 90%;
    padding: 10px;
    margin: 0;
    font-size: 13pt;
    }

body {background-color: #2d2d35;}

.gradient { 
    background-image: linear-gradient(50deg, #343c69, #131627);
    background-size: cover;
    }

.border {
    border: 5px solid #a8a9af;
    margin-right: 20%;
    margin-left: 20%;
    height: 100px;
    fill: var(gradient);
}

#text {
    text-align: center;
    color: white;
    }

h1 {
    font-size: 30pt;
    word-spacing: 1pt;
    letter-spacing: 2pt;
    }

