<!DOCTYPE HTML>

* {box-sizing: border-box;}
body, html {
    margin: auto;
    height: 100%;
    width: 100%;}
::selection {
    background-color: #eedd80;
    color: #1b1712;}
body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
} /* Disables Scrollbar Visual */

body {
    display: grid;
    position: relative;
    margin: auto;
    margin-top: 1%;
    align-items: center;
    font-family: 'Open Sans Condensed','Arial';
    background-repeat: repeat;
    background-attachment: local;
    background-image: linear-gradient(90deg,
     var(--bgg1), var(--bgg2), var(--bgg3),
     var(--bgg3), var(--bgg2), var(--bgg1));
}
a#list {
    text-decoration: none;
    color: #1b1712;}


.divider {
    display: inline-grid;
    position: relative;
    margin: 11px 5.5vw;
    width: 106rem;
    grid-template-columns: auto auto auto auto auto;
}

.container {
    display: grid;
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 5px;
    border-collapse: separate;
    outline: 2px solid var(--border);
    box-shadow: 5px 0px 30px 5px #5a4229;
    background-size: cover;
    background-image: url(../IMAGES/texture-denim.png);
}

#series {
    display: grid;
    vertical-align: middle;
    font-family: 'forum';
    text-align: center;
    letter-spacing: 0.3pt;
    font-size: 23pt;
    text-align: center;
    padding: 0.6em 5px 0.3em 5px;
    transition-delay: 100ms;
    transition-duration: 200ms;
    transition-timing-function: ease-out;}
.container:hover #series {
    text-shadow: 0px 0px 10px #81bcff;
    transform: scale(1.02);
}
#chapters {
    border-top: 2px solid var(--border);
    width: 315px;
    display: grid;
    font-family: 'forum';
    text-align: center;
    letter-spacing: 0.3pt;
    font-size: 20pt;
    padding: 0.3em 2px;
}
#date {
    border-top: 2px solid var(--border);
    width: 315px;
    display: grid;
    vertical-align: middle;
    font-family: 'forum';
    text-align: center;
    letter-spacing: 0.3pt;
    font-size: 23pt;
    padding: 0.3em 2px ;
}
#script-ph {
    border-top: 2px solid var(--border);
    width: 315px;
    display: grid;
    font-family: 'forum';
    text-align: center;
    letter-spacing: 0.3pt;
    font-size: 23pt;
    padding: 0.2em 2px;
}







   /* Home Button from Index */
button {
    position: absolute;
    background-color: #68523a3f;
    border: 1px solid #967b46;
    border-radius: 50px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    top: 1vh;
    left: 1vw;
    filter: blur(6px);
    opacity: (90%);
    transition-timing-function: ease-out;
    transition-duration: 300ms;}
button:hover {
    cursor: pointer;
    background-color: #c7643d6c;
    box-shadow: 0px 0px 15px 0.5px #f0bc54;
    filter: blur(0) opacity(100%);}
button:active {
    background-color: #d6913746;
    box-shadow: 0px 0px 15px 0.5px #ffc374;
    transform: rotate(120deg);}
button img {
    position: relative;
    height: 20px;
    width: 20px;
    right: 1.5px;
    padding-top: 3px;
    opacity: 0%;

}
button:hover img {
    opacity: 100%;
}
#space {
    padding: 2%;}

:root {
    --bgg1: #5a4229;
    --bgg2: #775a3a;
    --bgg3: #7e5f3e;
    --border: #413224;
}

@media only screen and (max-width: 500px) {
    body, html {
        height: auto;
        width: auto;}
}  /* Mobile Size Scaling */
